.header-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    
}

.header-container h1 {
    font-size: 36px;
    
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
 


  